parameters:
    level: 8
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Method.*convertResponseSchema.*should return array<string, array<string, mixed>>#'
